<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tip.mapper">
	<!-- tip썸네일 화면 -->
	<select id="tiplist" resultType="tip.YoutubeTipVO">
		select id, thumbnails, youtubetitle, youtubecnt, youtubecontent, play
		from youtubetip
	</select>

    <update id="readcnt">
    	update youtubetip
		set youtubecnt = youtubecnt + 1
		where id = #{id}
    </update>
    		
    		
    		
    		
    		
    		
    		
    		
    		
    		
    		
    		
    		
    		
    		
    		
    		<!-- 유튜브 이미지 입력 (임시?)-->
    <insert id="insert_youtube">
    	insert into youtubetip ( thumbnails, youtubetitle, youtubecontent, play,board_id)
 	values (#{thumbnails},#{youtubetitle},#{youtubecontent},#{play},#{board_id})
    </insert>
    
    
    <select id="youtube_detail" resultType="tip.YoutubeTipVO">
    	select * from youtubetip where board_id = #{id}
    </select>
    
    <update id="update_youtube">
    	update youtubetip
		set thumbnails=#{thumbnails}, youtubetitle= #{youtubetitle}, youtubecontent= #{youtubecontent}, play= #{play}
		where board_id = #{board_id}
    </update>
	
</mapper>
